.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 1.5rem;
  gap: 2rem;
  padding-bottom: 2rem;
}

.title {
  width: 70%;
  text-align: center;
}

.sections-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.statistics {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1400px;
}

.first-column {
  width: 160px;
}

.total-commits {
  min-width: 400px;
}

.authors {
  min-width: 400px;
}

.commits-by-author {
  min-width: 400px;
}

.limit-email {
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.commits-by-day-hour {
  min-width: 400px;
}

.commits-by-week-day {
  min-width: 400px;
}

.footer {
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  padding: 1rem;
  cursor: pointer;
  //  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  //  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
