#! /usr/bin/env node

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
  gap: 2rem;
}

.first-column {
  width: 160px;
}

.total-commits {
  min-width: 400px;
}

.authors {
  min-width: 400px;
}

.commits-by-author {
  min-width: 400px;
}

.commits-by-day-hour {
  min-width: 400px;
}

.commits-by-week-day {
  min-width: 400px;
}

.footer {
  margin-top: 3rem;
}
